@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
	* {
		--font-title: 'Noto Sans', sans-serif;
		--ion-color-primary: #1ebb48;
		--ion-color-secondary: #174f96;
		--ion-color-tertiary: #3d66f8;
		--ion-color-tertiary-contrast: #000000;
		--ion-card-color: var(--ion-text-color);
	}
}

@layer theme {
	.light {
		--ion-background-color: #f3f2f9;
		--ion-toolbar-background: #fefefe;
		--ion-text-color: #1c1b22;
	}

	.dark {
		--ion-background-color: #1c1b22;
		--ion-toolbar-background: #1b1b1b;
		--ion-text-color: #e1e0e6;
	}
}
