@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
	* {
		--ion-color-primary: #1ebb48;
		--ion-color-secondary: #174f96;
		--font-title: 'Noto Sans', sans-serif;
	}
}

@layer theme {
	.light {
		--ion-background-color: #dad8e7;
	}

	.dark {
		--ion-background-color: #1c1b22;
	}
}
