App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# SkyKit swift package build output
App/SkyKit/.build
App/SkyKit/.swiftpm
App/SkyKit/Package.resolved
